body {
  margin: 0;
  padding: 2rem;
  box-sizing: border-box;
  height: 100vh;
  background-color:steelblue;
  color: white;
}

main {
  border: 1px solid black;
  text-align: center;
  height: 100%;
}

p {
  padding: 2rem;
  text-align: left;
  font-size: large;
}

button{
border-radius: 0.5rem;
padding: 0.5rem;
margin: auto;
}
#bday-input{
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 0.5rem;
}